*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /*page reset*/
}

.wrapper {
    display: grid;

    height: 100vh;

    /*define column count btw this is a comment*/
    grid-template-columns: repeat (12, 1fr);

    /* define rows */
    grid-template-rows: auto 1fr auto;

    /*define column gap */
    grid-column-gap: 2rem;

    grid-template-areas:
    /* fullstops mean empty columns - no content */
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "fa fa fa fa fa fa fb fb fb fb fb fb";
}

.header {
    grid-area: h;
}

.main {
    grid-area: m;
}

.footer-a {
    grid-area: fa;
}

.footer-b {
    grid-area: fb;
}

body{
    font-family:'Courier New', Courier, monospace
    /*temp font. Add Google font later*/
}


/*nav bar css*/

nav{
    background-color: bisque;
    height: 80px;
    width: 100%;
    /*size of the nav bar*/
}

.logo-hover, .logo-hover a:hover {
    background-color: transparent;
    display: inline;
}

.logo /*image*/{
    max-width: 100%; /* % means it doesn't think it's px */
    padding: 15px 15px;
}

nav ul{
    float: right;
    margin-right: 20px;
    /*pushes nav list to the side */
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    /*makes nav list horizontal instead of vertical*/
}

nav ul li a{
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    /*changes writing on nav bar*/
}

a.active,a:hover{
    background-color: pink;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer; /*this changes the curser from the arrow to finger*/
    display: none; /*makes hamburger disappear until breakpoint*/
}

#check{
    display: none;
}

/*main content*/

.main {
    display: grid;

    /*define column count btw this is a comment*/
    grid-template-columns: repeat (12, 1fr);

    /*define column gap */
    grid-column-gap: 2rem;

    grid-template-areas:
    /* fullstops mean empty columns - no content */
        "mi mi mi mi mi mi mi mi mi mi mi mi mi"
        ". . . it it it it it it it . . ."
        ". . . wh wh wh wh wh wh wh . . ."
        ". . . gi gi gi gi gi gi gi . . .";
}

.main-image {
   grid-area: mi;
}

.intro-text {
    grid-area: it;
}

.whats-happening {
    grid-area: wh;
    text-align: center;
}

/* cards start - can't seem to work out how to adjust size or put below content */

.grid-item {
    grid-area: gi;
    background-color: blanchedalmond;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    margin: 3rem;
}

.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card-content {
    padding: 3rem;
}

.card-header {
    font-size: 3rem;
    font-weight: 500;
    color: rebeccapurple;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color:blue;
    margin-bottom: 2.5rem;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: cornflowerblue;
    background-color: greenyellow;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.card-btn span {
    margin-left: 1rem;
    transition: 0.2s;
}

.card-btn:hover, .card-btn:active {
    background-color: brown;
}

.card-btn:hover span, .card-btn:active span {
    margin-left: 1.5rem;
}
/* end card */

.container{
    padding: 15px;
}


.footer-col{
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: purple;
    margin-bottom: 15px;
    font-weight: 500;
}

.footer-col p {
    margin-bottom: 15px;
}

.footer-col .social-links a /*this affects the social media icons*/{ 
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: palegreen;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%; /*makes it a cirle I believe?*/
}

.footer-col .social-links a:hover {
    color: pink;
    background-color: blue;
}

/*responsive elements below*/

@media (min-width: 952px) /*double check breakpoint ALSO ask about adding shit. do I need to make a new thing for everything or can I umbrella it*/ {
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 1002px) /*this is the first breakpoint - also need to covert to em not px*/ {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:burlywood;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block; /*make list go from horizontal to vertical at breakpoint*/
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.active,a:hover{
        background: none;
        color: greenyellow;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

@media (max-width: 60em) /*this is the second breakpoint for the header*/ {

    .grid {
        grid-gap: 3rem;
        margin: 3rem;
    }
}

