*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /*page reset*/
}

.wrapper {
    background-color: #F9F6EF; 

    display: grid;

    height: 100vh;

    /*define column count btw this is a comment*/
    grid-template-columns: repeat (12, 1fr);

    /* define rows */
    grid-template-rows: auto 1fr auto;

    /*define column gap */
    grid-column-gap: 2rem;

    grid-template-areas:
    /* fullstops mean empty columns - no content */
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "fa fa fa fa fa fa fb fb fb fb fb fb";
}

.header {
    grid-area: h;
}

.main {
    grid-area: m;
    background-color:#F9F6EF;
}

.main h1 {
    font-family: 'Oswald', sans-serif;
}

.main p {
    font-family: 'Quattrocento', serif;
}

.footer-a {
    grid-area: fa;
    background-color:#F9F6EF;
}

.footer-b {
    grid-area: fb;
    background-color:#F9F6EF;
}

/*nav bar css*/

nav{
    background-color: #BFAFA0;
    color:#664A32;
    height: 5em;
    width: 100%;
    /*size of the nav bar*/
    font-family: 'Quattrocento', serif;
}

.logo-hover, .logo-hover a:hover {
    background-color: transparent;
    display: inline;
}

.logo /*image*/{
    max-width: 100%; /* % means it doesn't think it's px */
    padding: 0.938em 0.983em;
}

nav ul{
    float: right;
    margin-right: 1.925em;
    /*pushes nav list to the side */
}

nav ul li{
    display: inline-block;
    line-height: 5em;
    margin-right: 3em;
    /*makes nav list horizontal instead of vertical*/
}

nav ul li a{
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    /*changes writing on nav bar*/
}

a.active,a:hover{
    background-color: #664A32;
    color: #F9F6EF;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer; /*this changes the curser from the arrow to finger*/
    display: none; /*makes hamburger disappear until breakpoint*/
}

#check{
    display: none;
}

/*Index page start*/

.index-main {
    background-color: #F9F6EF;
    display: grid;
    /*define column count btw this is a comment*/
    grid-template-columns: repeat (12, 1fr);
    /*define column gap */
    grid-column-gap: 2rem;
    grid-template-areas:
        "mi mi mi mi mi mi mi mi mi mi mi mi"
        "it it it it it it it it it it it it"
        "wh wh wh wh wh wh wh wh wh wh wh wh"
        "c1 c1 c1 c1 c1 c1 c2 c2 c2 c2 c2 c2"
        "st st st st st st st st st st st st"
        "sl sl sl sl sl sl sl sl sl sl sl sl";
}

.main-image {
   grid-area: mi;
   display: inline;
   margin-bottom: 2.5em;
}

.intro-text {
    grid-area: it;
    margin: 0.2em 20em 0.5em 20em;
    line-height: 2.5em;
}

.intro-text h1 {
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    text-align: center;
}

.intro-text h4 {
    text-align: center;
    font-size: 1.2em;
}

.intro-text p {
    text-align: center;
    font-size: 1em;
}

/*gridding is completely off.. can't figure out what's going on 
.locations-text{
    grid-area: lt;
    margin: 0.2em 20em 0.5em 20em;
}

.locations-text h1{
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    text-align: center;
}

.location-1 {
    grid-area: l1;
}

.location-2 {
    grid-area: l2;
}

.location-3 {
    grid-area: l3;
}

.location-4 {
    grid-area: l4;
}
*/

.whats-happening {
    grid-area: wh;
    text-align: center;
    font-size: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 0.2em;
    text-align: center;
}

.index-card-1 {
    grid-area: c1;
    margin: 2em 2.5em 10em 10em;
    width: 40em;
}

.index-card-2 {
    grid-area: c2;
    margin: 2em 10em 10em 2.5em;
    width: 40em;
}

.index-card-content h1 {
    font-size: 2em;
    text-align: center;
    line-height: 2em;
}

.index-card-content p {
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 1em;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    font-family: 'Quattrocento', serif;
    text-align: center;
    color: #664A32;
    background-color: #BFAFA0;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.card-btn span {
    margin-left: 1rem;
    transition: 0.2s;
}

.card-btn:hover, .card-btn:active {
    background-color: #664A32;
    color:#BFAFA0;
}

.card-btn:hover span, .card-btn:active span {
    margin-left: 1.5rem;
}

/*can't get this to work either... something is majorly wrong with the gridding
.sponsers-text {
    grid-area: st;
}

.sponsers-logos {
    grid-area: sl;
}
*/

/* end Index page */


/* start Festivals 2022 page */

    /* footer is wack on this page >:/ no idea why but need to work out */

.festivals-2022-main {
    background-color: #F9F6EF; 
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-column-gap: 2rem;
    grid-template-areas:
        "i22 i22 i22 i22 i22 i22 d22 d22 d22 d22 d22 d22"
        "t22 t22 t22 t22 t22 t22 t22 t22 t22 t22 t22 t22";
}

.img-2022 {
    grid-area: i22;
    margin: 7.5em 5em 7em 10em;
}

.description-2022 {
    grid-area: d22;
    margin: 5em 10em 5em 5em;
}

.description-2022 h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.description-2022 h4 {
    font-family: 'Quattrocento', serif;
    font-size: 1.5em;
    line-height: 0.5em;
    text-align: center;
}

.description-2022 h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin-top: 1em;
    line-height: 2.5em;
    text-align: center;
}

.description-2022 p {
    line-height: 1.5em;
    font-size: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.thanks-2022 {
    grid-area: t22;
}

.thanks-2022 p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0.75em 20em 0.75em 20em;
}

.thanks-2022 h4 {
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5em;
    margin: 2.5em 20em 2.5em 20em;
}

/* end Fesitvals 2022 page */

/* start COVID-19 page */

.covid-main {
    background-color: #F9F6EF; 
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-column-gap: 2rem;
    grid-template-areas:
        "i1 i1 i1 i1 i2 i2 i2 i2 i3 i3 i3 i3"
        "cc cc cc cc cc cc cc cc cc cc cc cc";
}

.covid-img-1 {
    /* margin = top right bottom left */
    grid-area: i1;
    width: 30em;
    margin: 2.5em 2.5em 2.5em 5em;
}

.covid-img-1 img {
    width: 100%;
    height: auto;
}

.covid-img-2 {
    grid-area: i2;
    width: 30em;
    margin: 2.5em 2.5em 2.5em 2.5em;
}

.covid-img-2 img {
    width: 100%;
    height: auto;
}

.covid-img-3 {
    grid-area: i3;
    width: 30em;
    margin: 2.5em 5em 2.5em 2.5em;
}

.covid-img-3 img {
    width: 100%;
    height: auto;
}

.covid-content {
    grid-area: cc;
    margin: 0.2em 20em 0.5em 20em;
}

.covid-content h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.covid-content h4 {
    font-family: 'Quattrocento', serif;
    font-size: 1.5em;
    line-height: 0.5em;
    text-align: center;
}

.covid-content h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin-top: 1em;
    line-height: 2.5em;
    text-align: center;
}

.covid-content p {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.covid-content ul {
    font-size: 1em;
    font-family: 'Quattrocento', serif;
    line-height: 1.5em;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

/* end COVID-19 page */


/* start News page */

.news-main {
    background-color: #F9F6EF; 
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-column-gap: 2rem;
    grid-template-areas:
        "nh nh nh nh nh nh nh nh nh nh nh nh"
        "n1 n1 n1 n1 n2 n2 n2 n2 n3 n3 n3 n3"
        "n4 n4 n4 n4 n5 n5 n5 n5 n6 n6 n6 n6"
        "n7 n7 n7 n7 . . . . . . . .";
}

.news-heading {
    grid-area: nh;
    text-align: center;
    font-size: 2.5em;
    margin-top: 1em;
}

.news-1 {
    grid-area: n1;
}

.news-2 {
    grid-area: n2;
}

.news-3 {
    grid-area: n3;
}

.news-4 {
    grid-area: n4;
}

.news-5 {
    grid-area: n5;
}

.news-6 {
    grid-area: n6;
}

.news-7 {
    grid-area: n7;
}

.news-content h4 {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5em;
    margin: 0.2em 0.2em 0em 0.2em;
}

.news-content p {
    font-size: 1em;
    font-family: 'Quattrocento', serif;
    line-height: 1.5em;
}

.news-card {
    cursor: pointer;
    transition: 0.2s;
    margin: 3em;
    border-radius: 0.313em;
    text-align: center;
    color: #664A32;
    background-color: #BFAFA0;
    width: 31.250em;
    height: 28.125em;
}

.news-card:hover {
    color: #BFAFA0;
    background-color: #664A32;
}

/*end news page*/

/*start About Us page */

.about-us-main{
    background-color: #F9F6EF; 
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-column-gap: 2rem;
    grid-template-areas:
        "ab ab ab ab ab ab ab ab ab ab ab ab"
        "ai ai ai ai ai ai ai ai ai ai ai ai"
        "ot ot ot ot ot ot ot ot ot ot ot ot"
        "p1 p1 p1 p1 p1 p1 p2 p2 p2 p2 p2 p2"
        "p3 p3 p3 p3 p3 p3 p4 p4 p4 p4 p4 p4"
        "p5 p5 p5 p5 p5 p5 p6 p6 p6 p6 p6 p6"
        "p7 p7 p7 p7 p7 p7 p8 p8 p8 p8 p8 p8";
}

.about-banner {
    grid-area: ab;
}

.about-info {
    grid-area: ai;
    margin: 0.2em 20em 0.5em 20em;
    text-align: center;
    line-height: 2.5em;
}

.about-info h1{
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.our-team {
    grid-area: ot;
    text-align: center;
    font-size: 2.5em;
    margin-top: 1em;
}

.peep-1 {
    grid-area: p1;
    margin: 2em 2.5em 10em 10em;
}

.peep-2 {
    grid-area: p2;
    margin: 2em 10em 10em 2.5em;
}

.peep-3 {
    grid-area: p3;
    margin: 2em 2.5em 10em 10em;
}

.peep-4 {
    grid-area: p4;
    margin: 2em 10em 10em 2.5em;
}

.peep-5 {
    grid-area: p5;
    margin: 2em 2.5em 10em 10em;
}

.peep-6 {
    grid-area: p6;
    margin: 2em 10em 10em 2.5em;
}

.peep-7 {
    grid-area: p7;
    margin: 2em 2.5em 10em 10em;
}

.peep-8 {
    grid-area: p8;
    margin: 2em 10em 10em 2.5em;
}

.peeps-img {
    text-align: center;
    padding: 1em;
}

.peeps-card {
    cursor: pointer;
    transition: 0.2s;
    margin: 3em;
    border-radius: 0.313em;
    border: solid #664A32;
    width: 40em;
    height: 60em;
}

.peeps-card h4 {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5em;
    margin: 0.2em 0.2em 0em 0.2em;
    text-align: center;
}

.peeps-card p {
    font-size: 1em;
    font-family: 'Quattrocento', serif;
    line-height: 1.5em;
    padding: 1em;
}

/*About Us end */

/* City Commissions start*/

.city-commissions-main {
    background-color: #F9F6EF; 
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-column-gap: 2rem;
    grid-template-areas:
        "cci cci cci cci cci cci ccc ccc ccc ccc ccc ccc";
}

.ccimage {
    grid-area: cci;
    margin: 7.5em 5em 5em 10em;
}

.cccontent {
    grid-area: ccc;
    margin: 5em 10em 5em 5em;
}

.cccontent h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.cccontent h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin-top: 1em;
    line-height: 2.5em;
}

.cccontent p {
    line-height: 1.5em;
    font-size: 1em;
}

/*City Comissions end*/

/* footer start */

.container{
    background-color: #F9F6EF; 
    padding: 1em;
}

.footer-col{
    padding: 0 15px;
    line-height: 1.5em;
}

.footer-col h4{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #664A32;
    margin-bottom: 1em;
    font-weight: 500;
}

.footer-col p {
    font-family: 'Quattrocento', serif;
    color: #000;
    margin-bottom: 1em;
}

.footer-col .social-links a /*this affects the social media icons*/{ 
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #BFAFA0;
    color: #664A32;
    margin: 0em 1em 1.5em 0em;
    text-align: center;
    line-height: 40px;
    border-radius: 50%; /*makes it a circle*/
}

.footer-col .social-links a:hover {
    color: #BFAFA0;
    background-color: #664A32;
}

/*footer end */

/*responsive elements below*/

@media (min-width: 952px) /*double check breakpoint ALSO ask about adding shit. do I need to make a new thing for everything or can I umbrella it*/ {
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 1002px) /*this is the first breakpoint - also need to covert to em not px*/ {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:burlywood;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block; /*make list go from horizontal to vertical at breakpoint*/
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.active,a:hover{
        background: none;
        color: greenyellow;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/* @media (max-width: 60em) {

    .grid {
        grid-gap: 3rem;
        margin: 3rem;
    }
} */

